*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    font-family: 'MuseoModerno', cursive;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;  
   

}
.navbar-brand{
    color: rgb(226,226,226);
    text-decoration: none;

}
.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%; 
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;

}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #5d4954;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    
}
.burger{
    display: block;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 2px;
    background-color: rgb(226,226,226);
    margin: 5px;

}
@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* hamburger */
:root{
    --primary-color: rgba(13,110,139,0.75);
    --overlay-color: rgba(24,39,51,0.84);
    --menu-speed: 0.75s;
}
.menu-wrap{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity:0;
}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /* background: rgba(13,110,139,0.75); */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* hemburgur lines */
.menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
/* moves line down */
.menu-wrap .hamburger > div:after{
    top: 10px;
}

/* toggler animate */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
/* turn lines into x */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
}
/* rotate when hovering when checked*/
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}
/* show menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
    
}
.menu-wrap .toggler:checked ~ .menu > div
{
    transform: scale(1);
    background-color: rgba(24,39,51,0.84);
    transition-duration: 0.75s;
}
.menu-wrap .toggler:checked ~ .menu > div >div{
    opacity: 1;
    background-color: var(--overlay-color);
    transition: opacity 0.4s ease;
}
.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.menu-wrap .menu > div{
    background-color: rgba(24,39,51,0.84);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex:none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;

}
.menu-wrap .menu > div >div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity o.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;

} 
.menu-wrap .menu > div > div > ul > li >a {
   color: inherit;
   text-decoration: none;
   transition: color 0.4s ease; 
}