<div id="main">
<nav>
    <img src="../../assets/pics/giftboxlogo.png" width="200" height="80">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Giftbox Categories</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="#">Wishlist</a></li>
        <li id="logbtn"><a href="#">Login</a></li>
        <li id="regbtn"><a href="#">Register</a></li>
        <!-- <button id="logbtn">Login</button>
        <button id="regbtn">Register</button> -->
    </ul>
</nav>
</div>
