<div class="card-wrapper">
  <div id="card-1" class="card card-rotating text-center">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Admin Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
       <button type="button" class="btn btn-success" routerLink="/admin-dashboard" routerLinkActive="router-link-active">Orders</button>
      <button type="button" class="btn btn-dark" routerLink="/anonymous-dashbord"  >USERS</button>
      <button type="button" class="btn btn-success" routerLink="/anonymous-dashbord"  >Report</button>
      <button type="button" class="btn btn-dark" routerLink="/anonymous-dashbord"  >Products</button>

      
    </div>
  </div>
</div>

  </div>
</main>
  </div>
</div>

<table class="table table-strip">
  <tr class="bg-dark text-white">
  <td>OrderID</td>
  <td>fullName</td>
   <td>email</td>
   <td>phone</td>
   <td>address</td>
   <td>city</td>
   <td>province</td>
   <td>code</td>
   <td>Action</td>
  </tr>

  <tr>
      <td>1</td>
      <td>lethu</td>
       <td>lethuGmail.com</td>
       <td>0736370982</td>
       <td>153 troy street SunnySide</td>
       <td>Pretoria</td>
       <td>Gouteng</td>
       <td>0001</td>
       <td><a href=""class="btn btn-success">Edit</a> / 
          <a href="" class="btn btn-danger">Delete</a></td>
      </tr> 
</table>