  <!-- one thumbnail -->
  <!-- 
   <div class="container-fluid padding">
    <div class="row padding"> -->
     <!-- <div class="col-md-2" > -->
        <div class="album py-5 bg-light">
      <div class="card mb-4 shadow-sm ">
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src={{productItem.img}} />
  
      <div class="card-body">
      
      <p class="card-text text-success">
          <!-- <strong> {{product.price | currency: '	&#82;'}}</strong> -->
          <strong>{{productItem.price.toLocaleString('en-ZA',{style: 'currency', currency:'ZAR'})}}</strong>

          -<i class="far fa-heart"></i>
      </p>
      <h4 class="card-title text-info">{{productItem.name}}</h4>
    <p class="card-text">{{productItem.description | slice: 0:80}}...</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn"
         (click) = "handleAddToCart()" >
          Add to Cart
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn btn-outline-danger">Add to Wishlist</button>
      </div>
      
    </div>
  </div>
</div>
</div>

